<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>



<div id="divCreate">


</div>
<div id="navRight" style="border-color: brown;">
  <section class="lists" >
    <app-todo-list *ngFor="let list of getLists()" [list]="list" [clock]="list.clock" style="border:none;"></app-todo-list>
  </section>
</div>

</html>

